<h1 id="tableLabel">logic-test-2</h1>

<div>
  Answer 2 :<br />
  &nbsp;&nbsp;Interface คือ Class คือ ที่มีเฉพาะตัว Method header เท่านั้น ไม่มีการ implement การทำงานอะไร โดยการใช้งานของ Interfaces นั้นจะนำไป Implement โดยคลาส สำหรับการกำหนดการทำงานให้กับเมธอด
  <br />
  &nbsp;&nbsp;Abstract เหมือนกับ Interface แต่จะมีข้อกำหนดที่ยืดหยุ่นกว่า เพราะสามารถที่่จะเพิ่ม Method และการทำงาน implement เข้าไปใน Class ที่เป็น abstract ได้
  <br />
  เมื่อไหรควรใช้ Interface หรือควรใช้ Abstract ?
  <br />
  &nbsp;&nbsp;ใช้ Interface Class เมื่อต้องการวางกรอบ ขอบเขตคร่าวๆ เพื่อให้ subclass เอาทำ implement การทำงานภายในต่อได้เอง
  &nbsp;&nbsp;ใช้ Abstract Class เมื่อรู้ว่ามีการทำงานบางอย่างที่ ซ้ำๆกันใน subclass โดยยกขึ้นมาเขียนใน Abstract Class เลย และยังเป็นการทำ template ป้องกัน fragment จากการที่ DEV ไป implement กันเอง เพราะต่างคนต่าง Logic แล้วภายหลังจะ maintain ลำบาก
</div>


